<div class="container">
  <h2>Registro de Préstamos</h2>
  <form (submit)="registrarPrestamo()">
    <select [(ngModel)]="nuevoPrestamo.libroId" name="libroId" required>
      <option *ngFor="let libro of libros" [value]="libro.id">
        {{ libro.titulo }}
      </option>
    </select>
    <input type="text" [(ngModel)]="nuevoPrestamo.usuarioId" name="usuarioId" placeholder="Usuario" required>
    <input type="date" [(ngModel)]="nuevoPrestamo.fechaPrestamo" name="fechaPrestamo" required>
    <button type="submit">Registrar Préstamo</button>
  </form>

  <h2>Lista de Préstamos</h2>
  <ul>
    <li *ngFor="let prestamo of prestamos">
      {{ getLibroTitulo(prestamo.libroId) }} - {{ prestamo.usuarioId }} - {{ prestamo.fechaPrestamo | date:'mediumDate' }}
      <button (click)="devolverLibro(prestamo)">Devolver</button>
    </li>
  </ul>

  <h2>Lista de Libros Disponibles</h2>
  <ul>
    <li *ngFor="let libro of libros">
      {{ libro.titulo }} - Estado: {{ libro.estado }}
    </li>
  </ul>
</div>
