<nav>
    <div (click)="volver()">
        <h1> BibliotecaBAJR</h1>
    </div>
    <div>
        <app-header />
    </div>
</nav>
<div class="container">
    <div>
        <form [formGroup]="form" (ngSubmit)="crearLibro()">
          <div>
            <label for="portada"
              >Portada:</label
            >
            <input
              type="text"
              id="portada"
              
              formControlName="portada"
            />
          </div>
          <div>
            <label for="titulo" 
              >Título:</label
            >
            <input
              type="text"
              id="titulo"
              
              placeholder="La culpa es de la vaca"
              formControlName="titulo"
            />
          </div>
          <div>
            <label for="autores" 
              >Autores:</label
            >
            <input
              type="text"
              id="autores"
              
              placeholder="Juan, José"
              formControlName="autores"
            />
          </div>
          <div>
            <label for="editorial" 
              >Editorial:</label
            >
            <input
              type="text"
              id="editorial"
              
              placeholder="Grupo LNS"
              formControlName="editorial"
            />
          </div>
          <div>
            <label for="estado" 
              >Estado:</label
            >
            <input
              type="text"
              id="estado"
              
              placeholder="Disponible"
              formControlName="estado"
            />
          </div>
          <div>
            <label for="anioedito"
              >Año Edición:</label
            >
            <input
              type="number"
              id="anioedito"
              
              placeholder="2012"
              formControlName="anioedito"
            />
          </div>
          <div>
            <label for="numpags"
              >N° de páginas:</label
            >
            <input
              type="number"
              id="numpags"
              
              placeholder="100"
              formControlName="numpags"
            />
          </div>
          <div>
            <label for="idioma"
              >Idioma:</label
            >
            <input
              type="text"
              id="idioma"
              
              placeholder="Español"
              formControlName="idioma"
            />
          </div>
          <div >
            <label for="resumen"
              >Resumen</label
            >
            <textarea
              rows="5"
              type="text"
              id="resumen"
              
              placeholder="Este libro trata de ..."
              formControlName="resumen"
            ></textarea>
          </div>
  
          <div >
            <button
              (click)="retroceder"
            >
              Cancelar
            </button>
  
            <button
              type="submit"
            >
              <app-icon-rocket />
              @if (libroId) {
                Guardar Cambios
              } @else {
                Ingresar Libro
              }
            </button>
          </div>
        </form>
    </div>
</div>