/* Estilos de la tabla */
.table {
  width: 100%;
  max-width: 600px; /* Ancho máximo de la tabla */
  margin: auto;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

/* Resto de estilos CSS */
h2 {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-container {
  margin-top: 50px; 
  text-align: center;
}

form {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 90%; 
  max-width: 370px; 
  margin: auto;
  height: auto; 
}

.button-container {
  text-align: center;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #1c1cbd;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.parrafo {
  text-align: center;
}

.button-providers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  button {
    background-color: #1c1cbd;
    color: white;
    border: 1px solid #1c1cbd;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-height: 48px;
    cursor: pointer;
    transition: all ease-in 0.25s;

    &:hover {
      background-color: #45a049;
      color: var(--dark-text);
    }

    svg {
      margin-right: 20px;
    }
  }
}

nav {
  background-color: rgb(93, 89, 89);
  padding: 10px;
  display: inline-flex;
  list-style: none;
  max-width: 100%;
}

nav .izq {
  position: absolute;

  left: 15px;
}

nav .der {
  position: absolute;

  right: 15px;
}
nav button {
  color: white;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

nav button:hover {
  background-color: rgba(9, 8, 8, 0.1);
}


@media screen and (max-width: 480px) {
  .login-container {
    margin-top: 30px; 
  }
  
  form {
    padding: 15px;
    max-width: 100%; /* Ajuste el ancho máximo del formulario para ocupar el ancho completo del dispositivo */
  }

  /* Ajuste el ancho de los inputs para ocupar el ancho completo del formulario */
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 20px); /* Resta el padding del ancho total */
  }
}


  

