.tabla-container {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.tabla-container h2 {
    text-align: center;
}

table {
    position: relative;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow-x: auto;
    display: block;
}

td,
th {
    border: 1px solid green;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

th {
    background: #798a18;
    color: #fff;
    text-transform: uppercase;
}

td {
    text-align: center;
    border-bottom: 2px solid greenyellow;
    color: #333;
    font-size: 18px;
}

.buscacontainer {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buscacontainer input {
    width: 70%;
    height: 25px;
    margin-bottom: 5px;
}

.buscacontainer button {
    background-color: #1c1cbd;
    color: white;
    padding: 6px 15px;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

nav {
    background-color: rgb(93, 89, 89);
    padding: 10px;
    display: inline-flex;
    list-style: none;
    max-width: 100%;
}
/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
    .tabla-container {
        margin: 20px auto;
        padding: 10px;
    }

    .tabla-container h2 {
        font-size: 1.5em;
    }

    .buscacontainer input {
        width: 100%;
        margin-bottom: 10px;
    }

    .buscacontainer button {
        margin-left: 0;
        width: 100%;
    }

    td, th {
        padding: 5px;
        font-size: 14px;
    }
}
