html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.tabla-container {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

td, th {
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
}

th {
    background: #798a18;
    color: #fff;
    text-transform: uppercase;
}

td {
    text-align: center;
    border-bottom: 2px solid greenyellow;
    color: #333;
    font-size: 18px;
}

td img {
    max-width: 80px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.buscacontainer {
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-row,
.filter-row {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.search-row input,
.filter-row select {
    width: 350px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-row button {
    background-color: #1c1cbd;
    color: white;
    padding: 6px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
}

.button-row button:hover {
    background-color: #45a049;
}

nav {
    background-color: rgb(93, 89, 89);
    padding: 10px;
    display: inline-flex;
    list-style: none;
    max-width: 100%;
}

@media (max-width: 600px) {
    .tabla-container {
        margin: 20px auto;
        padding: 10px;
    }

    .tabla-container h2 {
        font-size: 1.5em;
    }

    .buscacontainer input,
    .buscacontainer select,
    .buscacontainer button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    td, th {
        padding: 5px;
        font-size: 14px;
    }
}
