<nav>
    <div (click)="volver()">
        <h1> BibliotecaBAJR</h1>
    </div>
    <div>
        <app-header />
    </div>
</nav>
<div class="tabla-container">
    <h2>Colección de Libros</h2>
    <div class="buscacontainer">
        <input type="text" placeholder="Buscar libros" [(ngModel)]="buscateste" />
        <button (click)="changeQuery()"> Buscar</button>
    </div>
    <table>

        <tr>
            <th>Portada</th>
            <th>Título</th>
            <th>Autores</th>
            <th>Editorial</th>
            <th>Acciones</th>
        </tr>
        @for(libro of libros; track libro.id){
        <tr>
            <td><img src="{{libro.portada}}" /></td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autores}}</td>
            <td>{{libro.editorial}}</td>
            <td><app-icon-edit (click)="editLibro(libro)" /> - <app-icon-delete (click)="deleteLibro(libro.id)" /></td>
        </tr>
        }

    </table>
</div>