
<div class="resto">
    <router-outlet></router-outlet>
</div>
<br><br><br><br>
<footer class="piepagina">
    <div class="part1">
        <div class="box">
            <figure>
                <a href="https://www.ups.edu.ec/">
                    <img src="assets/logo_ups.png" alt="Logo UPS">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Síguenos en nuestras redes: </h2>
            <div class="redsocial">

                <a href="https://www.facebook.com/sistemasupscuenca" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="part2">
        <small>&copy; 2024 | Todos los Derechos Reservados.</small>
        <small>Hecho por Bryan Ávila y José Ramírez</small>
    </div>
</footer>



