<nav>
    <div (click)="volver()">
        <h1> BibliotecaBAJR</h1>
    </div>
    <div>
        <app-header />
    </div>
</nav>
<div class="container">
    <nav>
        <a href="#">Inicio</a> : <a href="#">Editar Perfil</a>
    </nav>
    <h1>Edición del Usuario</h1>
    <form [formGroup]="form" (ngSubmit)="editUser()">
        <div class="form-group">
            <label for="foto">Imagen de usuario</label>
            <input type="file" id="foto" accept="image/*">
            <img src="https://via.placeholder.com/150" alt="Imagen de usuario">
        </div>
        <div class="form-group">
            <div class="input-group">
                <label for="user">Nombre de usuario:</label>
                <input type="text" id="user" name="username">
            </div>
            <div class="input-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="firstName">
            </div>
            <div class="input-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="lastName">
            </div>
            <div class="input-group">
                <label for="correo">E-mail:</label>
                <input type="email" id="correo" name="email">
            </div>
            <div class="input-group">
                <label for="celu">Teléfono:</label>
                <input type="tel" id="celu" name="phone">
            </div>
            <div class="input-group">
                <label for="ubica">Ubicación:</label>
                <input type="text" id="ubica" name="location">
            </div>
            <div class="input-group">
                <label for="socialUrl">URL Red Social:</label>
                <input type="url" id="socialUrl" name="socialUrl">
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Guardar</button>
            <button routerLink="biblioteca">Cancelar</button>
        </div>
    </form>
</div>

