<nav>
  <div (click)="volver()">
      <h1> BibliotecaBAJR</h1>
  </div>
  <div>
      <app-header />
  </div>
</nav>
<div class="tabla-container">
  <div class="table-container">
    <h2>Lista de Usuarios</h2>
    <div class="buscacontainer">
      <input type="text" placeholder="Buscar Usuarios" [(ngModel)]="buscateste" />
      <button (click)="changeQuery()"> Buscar</button>
  </div>
    <table  id="userTable">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track user.id) {
        <tr>
          <td>{{ user.user }}</td>
          <td>{{ user.nombre }} {{ user.apellido }}</td>
          <td>{{ user.correo }}</td>
          <td><app-icon-edit (click)="editUser(user)"/></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  
</div>
<br>
<br>

  