.presenta {
    background-image: url('https://img.freepik.com/vector-gratis/estanteria-interior-biblioteca-ilustracion-fondo-mesa-silla-estante-madera-bibliotecario-dibujos-animados-archivo-escuela-o-universidad-muebles-libreria-grafica-dibujos-animados-escritorio-lampara-pasillo_107791-22653.jpg?w=996&t=st=1717124479~exp=1717125079~hmac=b1928ef3d47758be546e5bea482f3ef7026b6d6b9ddf5218fceefd3c5bb65e18');
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para que la imagen se posicione en el centro */
    height: 400px; /* Altura del div */
    max-width: 100%;
}

.presenta h2 {
    position: relative;
    top: 85%;
    color: #ffffff;
    font-size: 60px;
    margin-left: 5%;
}

nav {
    background-color: rgb(93, 89, 89);
    padding: 10px;
    display: inline-flex;
    list-style: none;
    max-width: 100%;
}

nav .izq {
    position: absolute;

    left: 15px;
}

nav .der {
    position: absolute;

    right: 15px;
}
nav button {
    color: white;
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav button:hover {
    background-color: rgba(9, 8, 8, 0.1);
}