<nav>
  <div (click)="volver()" >
      <h1> BibliotecaBAJR</h1>
  </div>
  <div >
      <button (click)="irLogin()">Ingresar</button>
      <button (click)="irRegistro()">Registro</button>
  </div>

</nav>
<div class="register-container">
  <form (ngSubmit)="signUp()">
    <h2>Registrarse</h2>
    <p>Al crear tu cuenta en esta biblioteca online podrás acceder a la lista de libros registrados</p><br>
    <div class="input-group">
      <div>
        <label for="email">Correo Electrónico:</label>
        <input [(ngModel)]="user.correo" type="email" id="email" name="email" #email required>
      </div>
      <div>
        <label for="username">Nombre de usuario:</label>
        <input [(ngModel)]="user.user" type="text" id="username" name="username" #username required>
      </div>
    </div>
    <div class="input-group">
      <div>
        <label for="firstName">Nombre:</label>
        <input [(ngModel)]="user.nombre" type="text" id="firstName" name="firstName" required>
      </div>
      <div>
        <label for="lastName">Apellido:</label>
        <input [(ngModel)]="user.apellido" type="text" id="lastName" name="lastName" required>
      </div>
    </div>
    <div class="input-group">
      <div>
        <label for="password">Contraseña:</label>
        <input [(ngModel)]="user.passwo" type="password" id="password" name="password" #password required>
      </div>
      <div>
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
    </div>
    <div class="button-container">
      <button type="submit">Crear Cuenta</button>
      <button (click)="signUpWithGoogle()">Registrarse por Google</button>
    </div>

  </form>
</div>
